@font-face {
  font-family: 'Biotif';
  src: url('./Biotif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart';
  src: url('./Bogart.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('./JosefinSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
