:root {
  --primary: #fefaf6;
  --black: #232320;
  --grey: #656270;
  --pink: #ffc4ff;
}

@font-face {
  font-family: 'Biotif';
  src: url('./fonts/Biotif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart';
  src: url('./fonts/Bogart.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
