:root {
  --primary: #fefaf6;
  --black: #232320;
  --grey: #656270;
  --pink: #ffc4ff;
}

@font-face {
  font-family: 'Biotif';
  src: url('./fonts/Biotif.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bogart';
  src: url('./fonts/Bogart.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Biotif';
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bogart', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

a,
button,
h6,
input,
li,
p {
  font-family: 'Biotif', Helvetica, Arial, sans-serif;
}
